/* 

.cardProduct {
    max-width: 245px;
   
}

.cardProductMedia {
    height: 140px;
}

.cardProductContent {
    padding: 16px;
}

.cardProductTitle {
    margin-bottom: 8px;
}

.cardProductDescription {
    color: #6c757d;
}

.cardProductPrice {
    font-weight: bold;

}

.cardProductStock {
    color: #6c757d;
}

.cardProductActions {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    color: "#c55e82";
} */
