.productListContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  height: 75%;
  width: 85%;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  .productListContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 10px;
    justify-items: center;
  }
}

@media (max-width: 480px) {
  .productListContainer {
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 10px;
    justify-items: center;
  }
}

.containerProductCard {
  display: flex;
  justify-content: center;
}

.modal-add {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
}
