.todosContainer {
    padding: 20px;
    text-align: center;
  
}



h1{
    color: #f107ca;
}


.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #f107ca; 
    border-radius: 50%;
    width: 40px; 
    height: 40px; 
    animation: spin 1s linear infinite; 
    margin: 100px auto; 
}

/* Animación de rotación */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
