.carousel-box {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 15px;
}

.carousel-home {
  width: 50%;
  height: auto;
  display: block;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-box {
    max-width: 100%;
  }

  .carousel-home {
    width: 100%;
    height: auto;
    margin: 5px 0;
  }
}
