.carousel-container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

.carousel-image {
	width: 90%;
	height: 300px;
	object-fit: cover;
	border-radius: 5px;
	margin: 0 5px;
}
@media (max-width: 600px) {
    .carousel-image {
        height: 150px; 
		width: 90%;
		object-fit: contain;
    }
}
.splide__slide {
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.splide__list {
	display: flex;
	gap: 10px;
}

@media (max-width: 600px) {
    .splide__arrow {
        display: none;
    }
}
