.footer-container {
  background-color: #c0adad;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
  display: flex;
  border: 2px solid #c55e82;
  align-items: center;
  justify-content: center;
}

.footer-section h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icon {
  font-size: 24px;
  color: #0c0a0a;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #c55e82;
}
.footer-container {
  background-color: #f8f8f8;
  padding: 20px 0;
  text-align: center;
}
.payment-icons {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  grid-gap: 15px; /* Espacio entre los íconos */
  justify-items: center; /* Centra los íconos horizontalmente */
}

.payment-text {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.payment-icon {
  font-size: 30px; /* Tamaño de los íconos de pago */
  color: #333;
}

.payment-icon:hover {
  color: #e600c0;
}
