.footer-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #c55e824a;
  flex-wrap: wrap;
  margin-top: 100px;
}

.ico_footer {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

.social-icons,
.payment-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  color: #c12e61;
  margin-bottom: 10px;
}

.icons-row {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.social-icon,
.payment-icon {
  font-size: 24px;
  color: #333;
  transition: color 0.3s ease;
}

.social-icon:hover,
.payment-icon:hover {
  color: #ee105d;
}

@media (max-width: 768px) {
  .ico_footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .social-icons,
  .payment-icons {
    margin-bottom: 20px;
  }
}
